* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.card {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
