

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 body {
  background-image: url("images/pencil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Rubik Mono One', sans-serif;
 }

 h1 {
  color: rgba(0,0,0,0.1);
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   text-align: center;
 }

.cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  width: 60%;
  margin: 0 auto;
}

.card {
  height: 175px;
  width: 20%;
  max-width: 170px;
  min-width: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #f49fc4;
  margin: 10px;
  text-align: center;
  /* background-image: url("images/brush.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: yellow; */
  position: relative;
  transform-style: preserve-3d;
}


.card div {
  backface-visibility: hidden;
  position: absolute;
  transform-style: preserve-3d;
}

.nameContainer{
  border-top: 2px ridge #ec9b63;
}

.btn {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0px 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: rgba(0,0,0,0.1);
  font-family: 'Rubik Mono One', sans-serif;
}

#resetButton {
  padding: 5px;
  background-color: #ec9b63;
  border-radius: 10px;
  font-family: 'Rubik Mono One', sans-serif;
}

#startButton {
  padding: 5px;
  background-color: #f49fc4;
  border-radius: 10px;
  font-family: 'Rubik Mono One', sans-serif;
}

.bottom {
  width: 100%;
  height:100%;
  transform: rotateY(180deg);
  background-color: green;
}

.top {
  background-color: white;
  width: 100%;
  height:100%;
}

.flipped {
  transform: rotateY(180deg);
}

.noClick {
  pointer-events: none;
}

/* .randomImage {
  max-width: 100%;
  max-height: 100%;
} */
