

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 body {
  background-repeat: no-repeat;
  background-image: url("images/pencil.jpg");
  background-size: cover;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
 }

 h1 {
  font-family: 'Rubik Mono One', sans-serif;
  color: rgba(0,0,0,0.1);
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   text-align: center;
 }
.cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  width: 60%;
  margin: 0 auto;
}

.card {
  height: 175px;
  width: 20%;
  max-width: 170px;
  min-width: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #f49fc4;
  margin: 10px;
  text-align: center;
  background-image: url("images/brush.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nameContainer{
  border-top: 2px ridge #ec9b63;
}

.btn {
  /* display: inline; */
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0px 10px;
}

#reset {
  margin-right: 10px;
}


.bottom {
  display: none;
}

.noClick {
  pointer-events: none;
}










.randomImage {
  max-width: 100%;
  max-height: 100%;
}
